[submodule "os_stub/openssllib/openssl"]
    path = os_stub/openssllib/openssl
    url = https://github.com/openssl/openssl
[submodule "os_stub/mbedtlslib/mbedtls"]
    path = os_stub/mbedtlslib/mbedtls
    url = https://github.com/ARMmbed/mbedtls
[submodule "unit_test/cmockalib/cmocka"]
    path = unit_test/cmockalib/cmocka
	url = https://gitlab.com/cmocka/cmocka.git
