[fedora-rawhide-kernel-nodebug]
name=Rawhide kernels built without debugging turned on
baseurl=https://dl.fedoraproject.org/pub/alt/rawhide-kernel-nodebug/$basearch
enabled=1
skip_if_unavailable=0
metadata_expire=6h
gpgcheck=0
priority=90
